<div id="sidebar">
  <header>
    <div class="logo-container"><img src="{{ site.baseurl }}/images/agrolog_logo.svg"></div>
    <div class="logo-title">agrolog</div>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
  </header>
    <div class="nav-container">
        {% include sidebar-nav-links.html %}
    </div>
  <div>

  </div>
</div>